<section class="container section">
    <div class="header-directo">
        <h1 class="main-title" style="font-size: 3rem; color: #9146FF;">En Vivo</h1>
        <p>Acompaña a Nemo en sus retos diarios</p>
    </div>

    <div class="twitch-container">
        <div id="twitch-embed"></div>
    </div>
</section>

<script src="https://player.twitch.tv/js/embed/v1.js"></script>
<script>
    new Twitch.Player("twitch-embed", {
        channel: "nemo_704",
        width: "100%",
        height: "100%",
        parent: ["nemo-web.onrender.com"] //La pagina de Nemo Oficial
    });
</script>
