<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEMO_704 | Oficial</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="main-header">
        <div class="navbar">
            <div class="logo-circle">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Nemo">
            </div>
            <nav>
                <ul class="nav-menu">
                    <li><a href="/" class="active">INICIO</a></li>
                    <li><a href="/videos">VIDEOS</a></li>
                    <li><a href="/foro">FORO</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="hero-container">
        <section class="hero-banner" style="background-image: url('{{ url_for('static', filename='images/banner.jpg') }}');">
            <div class="hero-overlay"></div>
            <div class="hero-content">
                <h1 class="main-title">NEMO_704</h1>
                <p class="subtitle">FNAF | GEOMETRY DASH | RETOS IMPOSIBLES</p>
                
                <div class="social-box">
                    <a href="https://discord.gg/vnFPqaaWFh" target="_blank" class="social-icon"><i class="fa-brands fa-discord"></i></a>
                    <a href="https://tiktok.com/@n.e.m.o_704" target="_blank" class="social-icon"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://instagram.com/n.e.m.o.704" target="_blank" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://x.com/nemo_704" target="_blank" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.youtube.com/@NemoPlusss" target="_blank" class="social-icon"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
