<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>VIDEOS | NEMO_704</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="/" class="nav-logo">NEMO<span>_704</span></a>
        <div class="nav-links">
            <a href="/">INICIO</a>
            <a href="/videos" class="active">VIDEOS</a>
            <a href="/foro">FORO</a>
        </div>
    </nav>

    <div class="main-container">
        <h1 style="font-family: 'Orbitron'; text-align: center;">VIDEOS POPULARES</h1>
        
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
            <div class="feed-card">
                <div class="media-box">
                    <iframe src="https://www.youtube.com/embed/C1eMcl8txW4"></iframe>
                </div>
                <h3>La noche más difícil de cada FNAF</h3>
            </div>

            <div class="feed-card">
                <div class="media-box">
                    <iframe src="https://www.youtube.com/embed/LhzGgUS2mIQ"></iframe>
                </div>
                <h3>FNAF 2 SIN MÁSCARA</h3>
            </div>
        </div>
    </div>
</body>
</html>
